@model List<MovieModel>

@{
    ViewData["Title"] = "Home Page";
    var msg = ViewData["ErrorMessage"];
}

<div>
        <h3 class="text-center"> Welcome To The Movie Search! </h3>
    <center>
        <form asp-controller="Home" asp-action="Index">
            <table>
                <tr>
                    <td>Search By Movie Name: &nbsp; </td>
                    <td><input type="text" id="MovieName" name="MovieName" required> </td> &nbsp;
                    <br />
                    <td><input type="submit" value="Submit" /></td>
                    <br />
                </tr>
            </table>
        </form>
    </center>


    @if (Model != null && Model.Count > 0)
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
                    <th>Name</th>
                    <th>Year</th>                   
                    <th>Rate</th>
                    <th>Vote Count</th>
                    <th>Overview</th>
                    <th></th>    
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.originalTitle)</td>
                    <td>@Html.DisplayFor(modelItem => item.year)</td>
                    <td>@Html.DisplayFor(modelItem => item.voteAverage)</td>
                    <td>@Html.DisplayFor(modelItem => item.voteCount)</td>
                    <td>@Html.DisplayFor(modelItem => item.overview)</td>
                </tr>
            }
            </tbody>
        </table>
 

    }
    else if (msg != null)
    { 
        <br/>
        <h4 class="text-center" style="color:red"> @msg </h4>
    } 
    
</div>
